## 1.DataFrame 的创建
1. 多维列表创建
2. 数组字典创建

In [1]:
import pandas as pd

In [2]:
array = [[1,2,3],[3,4,5]]
df = pd.DataFrame(array)

In [3]:
df

   0  1  2
0  1  2  3
1  3  4  5

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
dict = {'name':['datafrog','data','frog'],'age':[18,19,18]}
df = pd.DataFrame(dict)

In [6]:
df

       name  age
0  datafrog   18
1      data   19
2      frog   18

## 2.DataFrame 和 Series 的介绍

In [7]:
s1 = pd.Series([1,2,3,4])

In [8]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [9]:
pd.Series()

In [8]:
s2 = pd.Series([2,3,4,5],index=['a','b','c','d'])
s2

a    2
b    3
c    4
d    5
dtype: int64

In [10]:
s3 = pd.Series({'a':1,'b':2})

In [11]:
s3

a    1
b    2
dtype: int64

In [13]:
type(df['age'])

pandas.core.series.Series

In [9]:
s2.to_frame()

   0
a  2
b  3
c  4
d  5

In [10]:
s2.to_frame().T

   a  b  c  d
0  2  3  4  5

## 3.DataFrame 的常用属性

In [17]:
array = {
        'name':['张三','李四','王五','赵六','小芳'],
        'sex':['男','男','男','男','女'],
        'age':[18,26,19,30,23]}

In [15]:
df = pd.DataFrame(array)

In [16]:
df

   age name sex
0   18   张三   男
1   26   李四   男
2   19   王五   男
3   30   赵六   男
4   23   小芳   女

** 获取行列索引 **

In [18]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
df.columns

Index(['age', 'name', 'sex'], dtype='object')

In [33]:
df.columns=(['a','b','c'])

In [34]:
df

    a   b  c
0  18  张三  男
1  26  李四  男
2  19  王五  男
3  30  赵六  男
4  23  小芳  女

In [36]:
df.set_index('b')

     a  c
b
张三  18  男
李四  26  男
王五  19  男
赵六  30  男
小芳  23  女

In [20]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['age', 'name', 'sex'], dtype='object')]

** 数据预览 **

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
age     5 non-null int64
name    5 non-null object
sex     5 non-null object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [22]:
df.describe()

             age
count   5.000000
mean   23.200000
std     4.969909
min    18.000000
25%    19.000000
50%    23.000000
75%    26.000000
max    30.000000

In [24]:
df.head(3)

   age name sex
0   18   张三   男
1   26   李四   男
2   19   王五   男

In [26]:
df.tail(3)

   age name sex
2   19   王五   男
3   30   赵六   男
4   23   小芳   女

In [27]:
df.size

15

In [30]:
df.shape[1]

3

In [32]:
df.dtypes

age      int64
name    object
sex     object
dtype: object

## 4.pandas读写文件
1. read_csv 函数

![read_csv](read_csv.png)

In [7]:
?pd.read_csv()

Object `pd.read_csv()` not found.

In [38]:
filepath = 'stocks.csv'

In [57]:
pd.read_csv(filepath, header = 0)

   stocknums        date state                      comment
0      error        line    no                            1
1      error        line    no                            2
2          1  2016-08-10     涨                      大涨啊，咋办。
3          0  2016-08-11     涨         行情真是不错呢，多亏了前几天加的高老师。
4          0  2016-08-12     涨                       我要继续追涨
5          2  2016-08-13     涨             茅台酒业再创新高--突破万亿市值
6          3  2016-08-14     跌  我的天，就一个星期时间，从赚两万到亏三万，真的要无语了
7          7  2016-08-15     跌            创业板指数都跌了13个点了，要凉啊
8          0  2016-08-16     涨                 凌晨12点有人还在看盘吗
9          4  2016-08-17     跌   从股市赚钱就是薅羊毛，好不容易摸到一点门道又被堵住了
10         9  2016-08-18     跌                        继续割肉！
11         0  2016-08-19     涨                      哈哈终于回血了
12         3  2016-11-19   NaN                          NaN

In [59]:
pd.read_csv(filepath,skiprows=[1,2])

    stocknums        date state                      comment
0           1  2016-08-10     涨                      大涨啊，咋办。
1           0  2016-08-11     涨         行情真是不错呢，多亏了前几天加的高老师。
2           0  2016-08-12     涨                       我要继续追涨
3           2  2016-08-13     涨             茅台酒业再创新高--突破万亿市值
4           3  2016-08-14     跌  我的天，就一个星期时间，从赚两万到亏三万，真的要无语了
5           7  2016-08-15     跌            创业板指数都跌了13个点了，要凉啊
6           0  2016-08-16     涨                 凌晨12点有人还在看盘吗
7           4  2016-08-17     跌   从股市赚钱就是薅羊毛，好不容易摸到一点门道又被堵住了
8           9  2016-08-18     跌                        继续割肉！
9           0  2016-08-19     涨                      哈哈终于回血了
10          3  2016-11-19   NaN                          NaN

In [60]:
pd.read_csv(filepath, skiprows=lambda x : x%2 == 0)

   error        line   no                            1
0      1  2016-08-10    涨                      大涨啊，咋办。
1      0  2016-08-12    涨                       我要继续追涨
2      3  2016-08-14    跌  我的天，就一个星期时间，从赚两万到亏三万，真的要无语了
3      0  2016-08-16    涨                 凌晨12点有人还在看盘吗
4      9  2016-08-18    跌                        继续割肉！
5      3  2016-11-19  NaN                          NaN

In [43]:
pd.read_csv(filepath, header=2, skiprows = 2)

   0  2016-08-11  涨         行情真是不错呢，多亏了前几天加的高老师。
0  0  2016-08-12  涨                       我要继续追涨
1  2  2016-08-13  涨             茅台酒业再创新高--突破万亿市值
2  3  2016-08-14  跌  我的天，就一个星期时间，从赚两万到亏三万，真的要无语了
3  7  2016-08-15  跌            创业板指数都跌了13个点了，要凉啊
4  0  2016-08-16  涨                 凌晨12点有人还在看盘吗
5  4  2016-08-17  跌   从股市赚钱就是薅羊毛，好不容易摸到一点门道又被堵住了
6  9  2016-08-18  跌                        继续割肉！
7  0  2016-08-19  涨                      哈哈终于回血了

In [63]:
pd.read_csv(filepath,keep_default_na=False)

   stocknums        date state                      comment
0      error        line    no                            1
1      error        line    no                            2
2          1  2016-08-10     涨                      大涨啊，咋办。
3          0  2016-08-11     涨         行情真是不错呢，多亏了前几天加的高老师。
4          0  2016-08-12     涨                       我要继续追涨
5          2  2016-08-13     涨             茅台酒业再创新高--突破万亿市值
6          3  2016-08-14     跌  我的天，就一个星期时间，从赚两万到亏三万，真的要无语了
7          7  2016-08-15     跌            创业板指数都跌了13个点了，要凉啊
8          0  2016-08-16     涨                 凌晨12点有人还在看盘吗
9          4  2016-08-17     跌   从股市赚钱就是薅羊毛，好不容易摸到一点门道又被堵住了
10         9  2016-08-18     跌                        继续割肉！
11         0  2016-08-19     涨                      哈哈终于回血了
12         3  2016-11-19