# Pandas 和 sql
1. 数据拼接
2. 关联操作
3. 分组计算
4. 转换过滤
5. pandas 连接 mysql

## 1.数据关联

In [1]:
import pandas as pd

In [6]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'A': ['C0', 'C1', 'C2', 'C3'],
                       'B': ['D0', 'D1', 'D2', 'D3']})

In [7]:
# 简单的拼接
pd.concat([left,right])

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3

In [9]:
pd.concat([left,right],ignore_index=True)

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
4  C0  D0  K0
5  C1  D1  K1
6  C2  D2  K2
7  C3  D3  K3

In [10]:
?pd.concat

In [8]:
pd.concat([left,right],axis=1)

    A   B key   A   B key
0  A0  B0  K0  C0  D0  K0
1  A1  B1  K1  C1  D1  K1
2  A2  B2  K2  C2  D2  K2
3  A3  B3  K3  C3  D3  K3

In [15]:
# 数据关联
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [16]:
# 指定列进行关联，默认是 inner join
result = pd.merge(left,right,on='key')
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [18]:
# 如果有多个关联条件
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})
 

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                       'key2': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [20]:
result = pd.merge(left, right, on=['key1', 'key2'])
result

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [21]:
# 通过指定 how 来确定关联方式
#左连接
result = pd.merge(left, right, how='left', on=['key1', 'key2'])
#右连接
result = pd.merge(left, right, how='right', on=['key1', 'key2'])
#外连接
result = pd.merge(left, right, how='outer', on=['key1', 'key2'])
result

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [22]:
# 列名不一样怎么关联
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                      'key2': ['K0', 'K1', 'K0', 'K1'],
                      'A': ['A0', 'A1', 'A2', 'A3'],
                      'B': ['B0', 'B1', 'B2', 'B3']})
 

right = pd.DataFrame({'key3': ['K0', 'K1', 'K1', 'K2'],
                       'key4': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']})

In [23]:
pd.merge(left,right,left_on = ['key1','key2'],right_on = ['key3','key4'])

    A   B key1 key2   C   D key3 key4
0  A0  B0   K0   K0  C0  D0   K0   K0
1  A2  B2   K1   K0  C1  D1   K1   K0
2  A2  B2   K1   K0  C2  D2   K1   K0

In [24]:
# 通过索引来关联
left.set_index('key1',inplace=True)
right.set_index('key3',inplace=True)

In [25]:
left

       A   B key2
key1
K0    A0  B0   K0
K0    A1  B1   K1
K1    A2  B2   K0
K2    A3  B3   K1

In [26]:
right

       C   D key4
key3
K0    C0  D0   K0
K1    C1  D1   K0
K1    C2  D2   K0
K2    C3  D3   K0

In [27]:
pd.merge(left,right,left_index=True,right_index=True)

     A   B key2   C   D key4
K0  A0  B0   K0  C0  D0   K0
K0  A1  B1   K1  C0  D0   K0
K1  A2  B2   K0  C1  D1   K0
K1  A2  B2   K0  C2  D2   K0
K2  A3  B3   K1  C3  D3   K0

## 2.分组操作

In [35]:
filepath = '销售客户信息.xlsx'

df = pd.read_excel(filepath,names=['user_id','login_date','sex','age','vip_date','vip_type','city','district','last_login','last_buy','novip_buy_times','novip_buy_moneys','vip_buy_times','vip_buy_moneys'])

In [36]:
df.head()

,user_id,login_date,sex,age,vip_date,vip_type,city,district,last_login,last_buy,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77

In [37]:
df.shape

(5000, 14)

In [38]:
df.district.unique()

array(['北京市', '丰台区', '朝阳区', '东城区', '怀柔区', '宣武区', '海淀区', '通州区', '南三环',
       '西城区', '望京', '门头沟区', '大兴区', '东直门外小街', '义顺区', '东三环', '顺义区', '石景山',
       '崇文区', '朝阳区黑庄户乡', '昌平区北七家', '密云县', '昌平区', '北京区', '德胜门外', '昌平区科技园',
       '展览馆路', '海定区', '西城区新文化街', '房山区', '平谷区', '顺义', '大兴区黄村镇', '房山区良乡镇',
       '经济技术开发区', '四通桥', '头沟区', '延庆县', '北京市亦庄', '海锭区', '石景山区', '海定路',
       '德胜门', '东二环', '顺义区大孙各庄镇', '城关街道西街', '大兴区亦庄', '北京经济技术开发区', '西域区',
       '北京市海淀区', '海淀区西直门', '东城区东直门', '欢乐谷', '丰台市', '中关村', '开发区', '东四环',
       '丰台区科学城', '朝阳区东三环', '宣武门', '西四环', '宣武区白广路', '怀柔区怀北镇', '朝阳区朝外大街',
       '丰田区', '王府井', '朝阳区 酒仙桥路', '北京市展览馆', '石景区', '北京', '崇文门', '密云县北庄镇',
       '北京市昌平区', '顺义区后沙峪地区', '密云县穆家峪', '丰台区西', '北京亦庄经济技术开发区', '近郊', '保定区',
       '平谷镇府前西街', '朝阳区，', '马甸', '怀柔慕田峪', '曹阳区', '朝阳区蒋台路', '西城区月坛', '南四环',
       '海淀区上地', '大望桥', '海淀区中关村东路', '北京市朝阳区', '酒仙桥', '邢台市', '北京崇文区',
       '北京市北京市', '朝阳区南', '西城区阜成门外大街', '朝阳区机场', '北京市朝阳区工体路', '西城区浦城路',
       '西直门', '西域城区', '平谷区南', '沧州市', '亚运村', '空港工业区', '昌平区北七家镇', '朝阳区亚运村',
       '大兴区西红门镇', '昌平区北', '定海区', '丰台区丰台科'], dtype=object)

In [40]:
df.district.value_counts().head()

朝阳区    1775
北京市    1746
海淀区     428
西城区     194
丰台区     177
Name: district, dtype: int64

In [41]:
# 假设我们想知道每一个地区的客户数量
groups = df.groupby('district')

In [42]:
type(groups)

pandas.core.groupby.DataFrameGroupBy

In [43]:
# groupby 对象的方法
groups.size()

district
东三环               1
东二环               1
东四环               3
东城区             117
东城区东直门            1
东直门外小街            1
中关村               1
丰台区             177
丰台区丰台科            1
丰台区科学城            1
丰台区西              1
丰台市               2
丰田区               1
义顺区               1
亚运村               1
保定区               1
北京                2
北京亦庄经济技术开发区       1
北京区               2
北京崇文区             1
北京市            1746
北京市亦庄             1
北京市北京市            1
北京市展览馆            1
北京市昌平区            1
北京市朝阳区            4
北京市朝阳区工体路         1
北京市海淀区            3
北京经济技术开发区         8
南三环               4
               ...
海淀区             428
海淀区上地             1
海淀区中关村东路          1
海淀区西直门            1
海锭区               1
王府井               1
石景区               1
石景山               6
石景山区             27
空港工业区             1
经济技术开发区           4
西四环               3
西城区             194
西城区新文化街           1
西城区月坛             1
西城区浦城路            1
西城区阜成门外大街         1
西域区               1
西域城区              1
西直门               1
近郊                1
通州区              40
邢台市               1
酒仙桥               1
门头沟区             10
顺义                1
顺义区              40
顺义区后沙峪地区          1
顺义区大孙各庄镇          1
马甸                1
Length: 112, dtype: int64

In [44]:
groups.groups

{'东三环': Int64Index([102], dtype='int64'),
 '东二环': Int64Index([685], dtype='int64'),
 '东四环': Int64Index([1373, 2710, 4372], dtype='int64'),
 '东城区': Int64Index([   6,   77,   80,   92,  203,  219,  272,  278,  329,  354,
             ...
             4388, 4400, 4439, 4558, 4573, 4717, 4791, 4845, 4931, 4979],
            dtype='int64', length=117),
 '东城区东直门': Int64Index([1008], dtype='int64'),
 '东直门外小街': Int64Index([69], dtype='int64'),
 '中关村': Int64Index([1232], dtype='int64'),
 '丰台区': Int64Index([   3,   45,   81,   89,   94,   97,   99,  114,  127,  185,
             ...
             4762, 4812, 4831, 4832, 4839, 4855, 4919, 4930, 4947, 4988],
            dtype='int64', length=177),
 '丰台区丰台科': Int64Index([4987], dtype='int64'),
 '丰台区科学城': Int64Index([1427], dtype='int64'),
 '丰台区西': Int64Index([2170], dtype='int64'),
 '丰台市': Int64Index([1158, 3318], dtype='int64'),
 '丰田区': Int64Index([1733], dtype='int64'),
 '义顺区': Int64Index([95], dtype='int64'),
 '亚运村': Int64Index([4618], dtype='int64'),
 '保定区': Int64Index([2484], dtype='int64'),
 '北京': Int64Index([1974, 2052], dtype='int64'),
 '北京亦庄经济技术开发区': Int64Index([2244], dtype='int64'),
 '北京区': Int64Index([284, 4602], dtype='int64'),
 '北京崇文区': Int64Index([3551], dtype='int64'),
 '北京市': Int64Index([   0,    1,    2,    8,   12,   17,   20,   21,   25,   26,
             ...
             4980, 4982, 4985, 4986, 4989, 4990, 4991, 4993, 4996, 4998],
            dtype='int64', length=1746),
 '北京市亦庄': Int64Index([524], dtype='int64'),
 '北京市北京市': Int64Index([3633], dtype='int64'),
 '北京市展览馆': Int64Index([1899], dtype='int64'),
 '北京市昌平区': Int64Index([2006], dtype='int64'),
 '北京市朝阳区': Int64Index([3386, 3441, 3769, 4696], dtype='int64'),
 '北京市朝阳区工体路': Int64Index([4255], dtype='int64'),
 '北京市海淀区': Int64Index([941, 3756, 4864], dtype='int64'),
 '北京经济技术开发区': Int64Index([865, 954, 1457, 1569, 2566, 2725, 3541, 4959], dtype='int64'),
 '南三环': Int64Index([24, 2220, 4690, 4889], dtype='int64'),
 '南四环': Int64Index([3089], dtype='int64'),
 '四通桥': Int64Index([440], dtype='int64'),
 '城关街道西街': Int64Index([718], dtype='int64'),
 '大兴区': Int64Index([  63,   84,  248,  394,  397,  403,  523,  565,  570,  598,  644,
              740,  811,  872,  914,  936, 1077, 1251, 1319, 1352, 1353, 1358,
             1386, 1454, 1483, 1574, 1750, 1787, 1824, 1907, 2192, 2245, 2285,
             2393, 2481, 2518, 2628, 2807, 2817, 2830, 2882, 3109, 3119, 3192,
             3528, 3579, 3643, 3761, 3789, 3909, 3929, 4124, 4175, 4241, 4274,
             4276, 4332, 4369, 4420, 4441, 4605, 4703, 4813, 4853, 4902, 4920],
            dtype='int64'),
 '大兴区亦庄': Int64Index([776, 3928], dtype='int64'),
 '大兴区西红门镇': Int64Index([4893], dtype='int64'),
 '大兴区黄村镇': Int64Index([404], dtype='int64'),
 '大望桥': Int64Index([3236], dtype='int64'),
 '头沟区': Int64Index([470], dtype='int64'),
 '定海区': Int64Index([4976], dtype='int64'),
 '宣武区': Int64Index([  10,  339,  345,  367,  401,  464,  539,  575,  796,  806,  913,
             1011, 1061, 1108, 1199, 1652, 1796, 1904, 1919, 1983, 2009, 2076,
             2259, 2511, 2545, 2578, 2595, 2765, 2862, 3042, 3083, 3137, 3204,
             3335, 3354, 3704, 3826, 4170, 4252, 4326, 4375, 4524, 4525, 4569,
             4607, 4614, 4660, 4814, 4874, 4903],
            dtype='int64'),
 '宣武区白广路': Int64Index([1580], dtype='int64'),
 '宣武门': Int64Index([1487], dtype='int64'),
 '密云县': Int64Index([222, 375, 813, 1172, 1922, 2434, 2622, 3015, 3494, 3604, 3942,
             4751, 4851],
            dtype='int64'),
 '密云县北庄镇': Int64Index([1999], dtype='int64'),
 '密云县穆家峪': Int64Index([2143], dtype='int64'),
 '展览馆路': Int64Index([349], dtype='int64'),
 '崇文区': Int64Index([ 199,  475,  536,  581,  801,  831, 1294, 1321, 1464, 1501, 1567,
             1606, 1701, 1737, 1986, 2320, 2448, 2790, 3156, 3284, 3417, 3574,
             3722, 3760, 4122, 4149, 4258, 4589, 4632, 4792, 4863, 4966],
            dtype='int64'),
 '崇文门': Int64Index([1997], dtype='int64'),
 '平谷区': Int64Index([393, 1021, 1131, 1555, 2636, 2939, 3507, 3561, 3692, 3707, 4459,
             4833],
            dtype='int64'),
 '平谷区南': Int64Index([4494], dtype='int64'),
 '平谷镇府前西街': Int64Index([2531], dtype='int64'),
 '延庆县': Int64Index([484, 855, 920, 2856, 3214, 3290, 4732], dtype='int64'),
 '开发区': Int64Index([1252], dtype='int64'),
 '德胜门': Int64Index([634], dtype='int64'),
 '德胜门外': Int64Index([297], dtype='int64'),
 '怀柔区': Int64Index([   9,  238,  293,  684,  867, 1604, 1820, 1981, 2212, 2422, 2594,
             2730, 2803, 3413, 3822, 4423, 4566],
            dtype='int64'),
 '怀柔区怀北镇': Int64Index([1626], dtype='int64'),
 '怀柔慕田峪': Int64Index([2786], dtype='int64'),
 '房山区': Int64Index([ 390,  399,  754,  968, 1049, 1470, 1571, 1802, 2027, 2123, 2274,
             2348, 2353, 2455, 2741, 2890, 3134, 3203, 3401, 3422, 3631, 3848,
             3914, 4088, 4162, 4416, 4535, 4729, 4808],
            dtype='int64'),
 '房山区良乡镇': Int64Index([411], dtype='int64'),
 '昌平区': Int64Index([ 281,  309,  331,  435,  496,  516,  531,  633,  666,  694,  704,
              834,  870, 1013, 1106, 1183, 1296, 1372, 1492, 1507, 1599, 1617,
             1650, 1694, 1777, 1906, 1982, 1994, 2012, 2015, 2128, 2164, 2226,
             2271, 2280, 2284, 2340, 2428, 2468, 2582, 2638, 2672, 2711, 2818,
             2825, 2834, 2842, 2965, 2989, 3146, 3270, 3336, 3376, 3423, 3553,
             3560, 3606, 3655, 3672, 3732, 3752, 3784, 3886, 3908, 3945, 3946,
             3954, 3965, 3966, 3988, 4020, 4128, 4231, 4283, 4299, 4345, 4488,
             4501, 4520, 4629, 4651, 4676, 4785, 4805, 4977],
            dtype='int64'),
 '昌平区北': Int64Index([4964], dtype='int64'),
 '昌平区北七家': Int64Index([215], dtype='int64'),
 '昌平区北七家镇': Int64Index([4824], dtype='int64'),
 '昌平区科技园': Int64Index([312], dtype='int64'),
 '曹阳区': Int64Index([2898, 4095], dtype='int64'),
 '望京': Int64Index([35], dtype='int64'),
 '朝阳区': Int64Index([   4,    5,    7,   16,   18,   19,   22,   23,   32,   36,
             ...
             4958, 4973, 4974, 4975, 4981, 4984, 4992, 4994, 4997, 4999],
            dtype='int64', length=1775),
 '朝阳区 酒仙桥路': Int64Index([1816], dtype='int64'),
 '朝阳区东三环': Int64Index([1444], dtype='int64'),
 '朝阳区亚运村': Int64Index([4858], dtype='int64'),
 '朝阳区南': Int64Index([3751], dtype='int64'),
 '朝阳区朝外大街': Int64Index([1709], dtype='int64'),
 '朝阳区机场': Int64Index([4246], dtype='int64'),
 '朝阳区蒋台路': Int64Index([2929], dtype='int64'),
 '朝阳区黑庄户乡': Int64Index([214], dtype='int64'),
 '朝阳区，': Int64Index([2598], dtype='int64'),
 '欢乐谷': Int64Index([1059], dtype='int64'),
 '沧州市': Int64Index([4538], dtype='int64'),
 '海定区': Int64Index([363, 483, 929, 1381, 1600, 1669, 2854, 2992, 3179, 3502, 3694], dtype='int64'),
 '海定路': Int64Index([623], dtype='int64'),
 '海淀区': Int64Index([  11,   13,   14,   29,   33,   34,   60,   68,   70,   85,
             ...
             4879, 4904, 4905, 4921, 4924, 4934, 4951, 4962, 4972, 4983],
            dtype='int64', length=428),
 '海淀区上地': Int64Index([3215], dtype='int64'),
 '海淀区中关村东路': Int64Index([3273], dtype='int64'),
 '海淀区西直门': Int64Index([946], dtype='int64'),
 '海锭区': Int64Index([593], dtype='int64'),
 '王府井': Int64Index([1810], dtype='int64'),
 '石景区': Int64Index([1945], dtype='int64'),
 '石景山': Int64Index([176, 1315, 3493, 3865, 4823, 4952], dtype='int64'),
 '石景山区': Int64Index([ 605,  621,  894, 1057, 1220, 1566, 1630, 1667, 1730, 1934, 2073,
             2112, 2113, 2114, 2134, 2478, 2517, 2996, 3041, 3438, 3496, 3891,
             4143, 4205, 4348, 4590, 4862],
            dtype='int64'),
 '空港工业区': Int64Index([4799], dtype='int64'),
 '经济技术开发区': Int64Index([434, 459, 3393, 4900], dtype='int64'),
 '西四环': Int64Index([1550, 1706, 1962], dtype='int64'),
 '西城区': Int64Index([  30,   59,   83,   87,  107,  155,  170,  205,  212,  226,
             ...
             4843, 4847, 4856, 4867, 4876, 4892, 4912, 4965, 4969, 4995],
            dtype='int64', length=194),
 '西城区新文化街': Int64Index([377], dtype='int64'),
 '西城区月坛': Int64Index([3076], dtype='int64'),
 '西城区浦城路': Int64Index([4349], dtype='int64'),
 '西城区阜成门外大街': Int64Index([4181], dtype='int64'),
 '西域区': Int64Index([871], dtype='int64'),
 '西域城区': Int64Index([4477], dtype='int64'),
 '西直门': Int64Index([4462], dtype='int64'),
 '近郊': Int64Index([2303], dtype='int64'),
 '通州区': Int64Index([  15,   46,  100,  229,  420,  854, 1006, 1322, 1344, 1528, 1533,
             1554, 1560, 1588, 1598, 1603, 1640, 1809, 1872, 1969, 2618, 2623,
             2954, 3057, 3101, 3244, 3520, 3521, 3576, 3601, 3641, 3911, 3958,
             4118, 4434, 4447, 4507, 4658, 4769, 4804],
            dtype='int64'),
 '邢台市': Int64Index([3497], dtype='int64'),
 '酒仙桥': Int64Index([3389], dtype='int64'),
 '门头沟区': Int64Index([62, 1265, 1333, 1989, 2966, 3599, 4146, 4286, 4680, 4697], dtype='int64'),
 '顺义': Int64Index([400], dtype='int64'),
 '顺义区': Int64Index([ 138,  190,  868, 1196, 1273, 1448, 1494, 1593, 1621, 1973, 2023,
             2499, 2574, 2660, 2661, 2692, 2809, 2822, 3094, 3205, 3451, 3600,
             3632, 3637, 3753, 3857, 4034, 4072, 4151, 4156, 4182, 4207, 4594,
             4644, 4774, 4803, 4844, 4849, 4915, 4960],
            dtype='int64'),
 '顺义区后沙峪地区': Int64Index([2024], dtype='int64'),
 '顺义区大孙各庄镇': Int64Index([689], dtype='int64'),
 '马甸': Int64Index([2720], dtype='int64')}

In [45]:
len(groups)

112

In [46]:
for name,group in groups:
    print(name)

东三环
东二环
东四环
东城区
东城区东直门
东直门外小街
中关村
丰台区
丰台区丰台科
丰台区科学城
丰台区西
丰台市
丰田区
义顺区
亚运村
保定区
北京
北京亦庄经济技术开发区
北京区
北京崇文区
北京市
北京市亦庄
北京市北京市
北京市展览馆
北京市昌平区
北京市朝阳区
北京市朝阳区工体路
北京市海淀区
北京经济技术开发区
南三环
南四环
四通桥
城关街道西街
大兴区
大兴区亦庄
大兴区西红门镇
大兴区黄村镇
大望桥
头沟区
定海区
宣武区
宣武区白广路
宣武门
密云县
密云县北庄镇
密云县穆家峪
展览馆路
崇文区
崇文门
平谷区
平谷区南
平谷镇府前西街
延庆县
开发区
德胜门
德胜门外
怀柔区
怀柔区怀北镇
怀柔慕田峪
房山区
房山区良乡镇
昌平区
昌平区北
昌平区北七家
昌平区北七家镇
昌平区科技园
曹阳区
望京
朝阳区
朝阳区 酒仙桥路
朝阳区东三环
朝阳区亚运村
朝阳区南
朝阳区朝外大街
朝阳区机场
朝阳区蒋台路
朝阳区黑庄户乡
朝阳区，
欢乐谷
沧州市
海定区
海定路
海淀区
海淀区上地
海淀区中关村东路
海淀区西直门
海锭区
王府井
石景区
石景山
石景山区
空港工业区
经济技术开发区
西四环
西城区
西城区新文化街
西城区月坛
西城区浦城路
西城区阜成门外大街
西域区
西域城区
西直门
近郊
通州区
邢台市
酒仙桥
门头沟区
顺义
顺义区
顺义区后沙峪地区
顺义区大孙各庄镇
马甸

In [47]:
groups.mean()

,user_id,age,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys
district,,,,,,
东三环,1.000010e+07,43.000000,29.000000,2592.020000,0.000000,0.000000
东二环,1.000069e+07,20.000000,9.000000,1328.130000,17.000000,1074.060000
东四环,1.000282e+07,39.000000,3.000000,353.706667,18.333333,1220.240000
东城区,1.000237e+07,33.017094,8.017094,812.337521,14.145299,1119.160000
东城区东直门,1.000101e+07,27.000000,18.000000,1501.200000,0.000000,0.000000
东直门外小街,1.000007e+07,28.000000,12.000000,1418.400000,36.000000,2585.880000
中关村,1.000123e+07,33.000000,6.000000,868.380000,30.000000,1673.400000
丰台区,1.000259e+07,31.949153,6.559322,709.485650,14.875706,1106.768305
丰台区丰台科,1.000499e+07,48.000000,0.000000,0.000000,0.000000,0.000000
丰台区科学城,1.000143e+07,45.000000,9.000000,852.840000,0.000000,0.000000
丰台区西,1.000217e+07,29.000000,24.000000,2231.760000,0.000000,0.000000
丰台市,1.000224e+07,26.500000,3.000000,400.710000,18.000000,1520.290000
丰田区,1.000173e+07,28.000000,27.000000,1705.050000,0.000000,0.000000
义顺区,1.000010e+07,32.000000,13.000000,1467.960000,0.000000,0.000000
亚运村,1.000462e+07,69.000000,3.000000,365.130000,0.000000,0.000000
保定区,1.000248e+07,23.000000,0.000000,0.000000,17.000000,917.150000
北京,1.000201e+07,24.000000,14.000000,1275.760000,16.500000,1365.705000
北京亦庄经济技术开发区,1.000224e+07,20.000000,0.000000,0.000000,20.000000,1224.600000
北京区,1.000244e+07,36.000000,7.500000,896.610000,20.000000,1904.600000
北京崇文区,1.000355e+07,34.000000,14.000000,1307.180000,0.000000,0.000000
北京市,1.000253e+07,33.079038,7.561283,786.769845,12.108247,902.145109
北京市亦庄,1.000052e+07,21.000000,9.000000,723.330000,18.000000,1357.380000
北京市北京市,1.000363e+07,18.000000,0.000000,0.000000,20.000000,1768.200000
北京市展览馆,1.000190e+07,23.000000,3.000000,444.750000,40.000000,2006.400000
北京市昌平区,1.000201e+07,21.000000,2.000000,246.220000,36.000000,1815.840000
北京市朝阳区,1.000382e+07,37.750000,4.750000,543.657500,3.500000,189.945000
北京市朝阳区工体路,1.000426e+07,70.000000,7.000000,694.330000,0.000000,0.000000
北京市海淀区,1.000319e+07,33.000000,2.333333,222.110000,24.000000,1525.846667
北京经济技术开发区,1.000233e+07,32.000000,6.750000,802.353750,17.750000,1235.493750
南三环,1.000296e+07,33.750000,5.500000,554.922500,1.750000,108.677500
...,...,...,...,...,...,...
海淀区,1.000265e+07,33.070093,7.221963,728.813341,12.137850,913.740070
海淀区上地,1.000322e+07,49.000000,12.000000,1575.240000,0.000000,0.000000
海淀区中关村东路,1.000327e+07,50.000000,11.000000,1015.080000,0.000000,0.000000
海淀区西直门,1.000095e+07,47.000000,16.000000,1372.320000,0.000000,0.000000
海锭区,1.000059e+07,28.000000,9.000000,826.110000,33.000000,2361.810000
王府井,1.000181e+07,33.000000,3.000000,394.890000,40.000000,3590.000000
石景区,1.000195e+07,18.000000,2.000000,280.080000,24.000000,2362.800000
石景山,1.000310e+07,31.666667,9.500000,983.686667,0.333333,23.910000
石景山区,1.000250e+07,33.962963,8.703704,855.736296,15.000000,1065.150370
空港工业区,1.000480e+07,24.000000,0.000000,0.000000,2.000000,129.720000
经济技术开发区,1.000230e+07,33.250000,11.500000,1480.147500,0.500000,40.590000
西四环,1.000174e+07,35.000000,7.000000,726.843333,15.333333,812.306667
西城区,1.000247e+07,32.716495,7.726804,787.275619,12.757732,968.484742
西城区新文化街,1.000038e+07,30.000000,10.000000,1378.200000,18.000000,1583.280000
西城区月坛,1.000308e+07,33.000000,13.000000,1929.590000,0.000000,0.000000
西城区浦城路,1.000435e+07,26.000000,6.000000,550.140000,0.000000,0.000000
西城区阜成门外大街,1.000418e+07,20.000000,10.000000,1293.300000,0.000000,0.000000
西域区,1.000087e+07,38.000000,27.000000,2195.910000,0.000000,0.000000
西域城区,1.000448e+07,40.000000,6.000000,768.300000,0.000000,0.000000
西直门,1.000446e+07,29.000000,6.000000,549.960000,0.000000,0.000000
近郊,1.000230e+07,21.000000,0.000000,0.000000,51.000000,4929.660000
通州区,1.000247e+07,32.750000,7.050000,716.470250,15.050000,1102.264250
邢台市,1.000350e+07,22.000000,0.000000,0.000000,12.000000,1051.320000
酒仙桥,1.000339e+07,19.000000,0.000000,0.000000,35.000000,3078.250000
门头沟区,1.000290e+07,36.500000,11.600000,1137.395000,4.100000,302.115000
顺义,1.000040e+07,20.000000,10.000000,1034.200000,30.000000,1514.100000
顺义区,1.000310e+07,34.025000,5.725000,579.506750,11.750000,986.699500
顺义区后沙峪地区,1.000202e+07,37.000000,19.000000,2197.540000,0.000000,0.000000
顺义区大孙各庄镇,1.000069e+07,44.000000,29.000000,2647.990000,0.000000,0.000000
马甸,1.000272e+07,20.000000,0.000000,0.000000,15.000000,751.500000

In [48]:
groups.sum()

,user_id,age,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys
district,,,,,,
东三环,10000103,43,29,2592.02,0,0.00
东二环,10000686,20,9,1328.13,17,1074.06
东四环,30008458,117,9,1061.12,55,3660.72
东城区,1170277711,3863,938,95043.49,1655,130941.72
东城区东直门,10001009,27,18,1501.20,0,0.00
东直门外小街,10000070,28,12,1418.40,36,2585.88
中关村,10001233,33,6,868.38,30,1673.40
丰台区,1770457984,5655,1161,125578.96,2633,195897.99
丰台区丰台科,10004988,48,0,0.00,0,0.00
丰台区科学城,10001428,45,9,852.84,0,0.00
丰台区西,10002171,29,24,2231.76,0,0.00
丰台市,20004478,53,6,801.42,36,3040.58
丰田区,10001734,28,27,1705.05,0,0.00
义顺区,10000096,32,13,1467.96,0,0.00
亚运村,10004619,69,3,365.13,0,0.00
保定区,10002485,23,0,0.00,17,917.15
北京,20004028,48,28,2551.52,33,2731.41
北京亦庄经济技术开发区,10002245,20,0,0.00,20,1224.60
北京区,20004888,72,15,1793.22,40,3809.20
北京崇文区,10003552,34,14,1307.18,0,0.00
北京市,17464412458,57756,13202,1373700.15,21141,1575145.36
北京市亦庄,10000525,21,9,723.33,18,1357.38
北京市北京市,10003634,18,0,0.00,20,1768.20
北京市展览馆,10001900,23,3,444.75,40,2006.40
北京市昌平区,10002007,21,2,246.22,36,1815.84
北京市朝阳区,40015296,151,19,2174.63,14,759.78
北京市朝阳区工体路,10004256,70,7,694.33,0,0.00
北京市海淀区,30009564,99,7,666.33,72,4577.54
北京经济技术开发区,80018644,256,54,6418.83,142,9883.95
南三环,40011827,135,22,2219.69,7,434.71
...,...,...,...,...,...,...
海淀区,4281133866,14154,3091,311932.11,5195,391080.75
海淀区上地,10003216,49,12,1575.24,0,0.00
海淀区中关村东路,10003274,50,11,1015.08,0,0.00
海淀区西直门,10000947,47,16,1372.32,0,0.00
海锭区,10000594,28,9,826.11,33,2361.81
王府井,10001811,33,3,394.89,40,3590.00
石景区,10001946,18,2,280.08,24,2362.80
石景山,60018630,190,57,5902.12,2,143.46
石景山区,270067502,917,235,23104.88,405,28759.06
空港工业区,10004800,24,0,0.00,2,129.72
经济技术开发区,40009190,133,46,5920.59,2,162.36
西四环,30005221,105,21,2180.53,46,2436.92
西城区,1940478653,6347,1499,152731.47,2475,187886.04
西城区新文化街,10000378,30,10,1378.20,18,1583.28
西城区月坛,10003077,33,13,1929.59,0,0.00
西城区浦城路,10004350,26,6,550.14,0,0.00
西城区阜成门外大街,10004182,20,10,1293.30,0,0.00
西域区,10000872,38,27,2195.91,0,0.00
西域城区,10004478,40,6,768.30,0,0.00
西直门,10004463,29,6,549.96,0,0.00
近郊,10002304,21,0,0.00,51,4929.66
通州区,400098692,1310,282,28658.81,602,44090.57
邢台市,10003498,22,0,0.00,12,1051.32
酒仙桥,10003390,19,0,0.00,35,3078.25
门头沟区,100029033,365,116,11373.95,41,3021.15
顺义,10000401,20,10,1034.20,30,1514.10
顺义区,400123988,1361,229,23180.27,470,39467.98
顺义区后沙峪地区,10002025,37,19,2197.54,0,0.00
顺义区大孙各庄镇,10000690,44,29,2647.99,0,0.00
马甸,10002721,20,0,0.00,15,751.50

In [49]:
groups.age.mean().head()

district
东三环       43.000000
东二环       20.000000
东四环       39.000000
东城区       33.017094
东城区东直门    27.000000
Name: age, dtype: float64

In [50]:
import numpy as np

# 作用多个聚合函数
groups.agg([np.mean,np.sum,np.std])

                  user_id                                  age         \
                     mean          sum          std       mean    sum
district
东三环          1.000010e+07     10000103          NaN  43.000000     43
东二环          1.000069e+07     10000686          NaN  20.000000     20
东四环          1.000282e+07     30008458  1502.432139  39.000000    117
东城区          1.000237e+07   1170277711  1414.303369  33.017094   3863
东城区东直门       1.000101e+07     10001009          NaN  27.000000     27
东直门外小街       1.000007e+07     10000070          NaN  28.000000     28
中关村          1.000123e+07     10001233          NaN  33.000000     33
丰台区          1.000259e+07   1770457984  1406.170861  31.949153   5655
丰台区丰台科       1.000499e+07     10004988          NaN  48.000000     48
丰台区科学城       1.000143e+07     10001428          NaN  45.000000     45
丰台区西         1.000217e+07     10002171          NaN  29.000000     29
丰台市          1.000224e+07     20004478  1527.350647  26.500000     53
丰田区          1.000173e+07     10001734          NaN  28.000000     28
义顺区          1.000010e+07     10000096          NaN  32.000000     32
亚运村          1.000462e+07     10004619          NaN  69.000000     69
保定区          1.000248e+07     10002485          NaN  23.000000     23
北京           1.000201e+07     20004028    55.154329  24.000000     48
北京亦庄经济技术开发区  1.000224e+07     10002245          NaN  20.000000     20
北京区          1.000244e+07     20004888  3053.287081  36.000000     72
北京崇文区        1.000355e+07     10003552          NaN  34.000000     34
北京市          1.000253e+07  17464412458  1425.644105  33.079038  57756
北京市亦庄        1.000052e+07     10000525          NaN  21.000000     21
北京市北京市       1.000363e+07     10003634          NaN  18.000000     18
北京市展览馆       1.000190e+07     10001900          NaN  23.000000     23
北京市昌平区       1.000201e+07     10002007          NaN  21.000000     21
北京市朝阳区       1.000382e+07     40015296   606.063253  37.750000    151
北京市朝阳区工体路    1.000426e+07     10004256          NaN  70.000000     70
北京市海淀区       1.000319e+07     30009564  2022.449752  33.000000     99
北京经济技术开发区    1.000233e+07     80018644  1412.734532  32.000000    256
南三环          1.000296e+07     40011827  2300.837873  33.750000    135
...                   ...          ...          ...        ...    ...
海淀区          1.000265e+07   4281133866  1486.588340  33.070093  14154
海淀区上地        1.000322e+07     10003216          NaN  49.000000     49
海淀区中关村东路     1.000327e+07     10003274          NaN  50.000000     50
海淀区西直门       1.000095e+07     10000947          NaN  47.000000     47
海锭区          1.000059e+07     10000594          NaN  28.000000     28
王府井          1.000181e+07     10001811          NaN  33.000000     33
石景区          1.000195e+07     10001946          NaN  18.000000     18
石景山          1.000310e+07     60018630  1942.895365  31.666667    190
石景山区         1.000250e+07    270067502  1251.744258  33.962963    917
空港工业区        1.000480e+07     10004800          NaN  24.000000     24
经济技术开发区      1.000230e+07     40009190  2223.048732  33.250000    133
西四环          1.000174e+07     30005221   208.012820  35.000000    105
西城区          1.000247e+07   1940478653  1464.431247  32.716495   6347
西城区新文化街      1.000038e+07     10000378          NaN  30.000000     30
西城区月坛        1.000308e+07     10003077          NaN  33.000000     33
西城区浦城路       1.000435e+07     10004350          NaN  26.000000     26
西城区阜成门外大街    1.000418e+07     10004182          NaN  20.000000     20
西域区          1.000087e+07     10000872          NaN  38.000000     38
西域城区         1.000448e+07     10004478          NaN  40.000000     40
西直门          1.000446e+07     10004463          NaN  29.000000     29
近郊           1.000230e+07     10002304          NaN  21.000000     21
通州区          1.000247e+07    400098692  1464.847208  32.750000   1310
邢台市          1.000350e+07     10003498          NaN  22.000000     22
酒仙桥          1.000339e+07     10003390          NaN  19.000000     19
门头沟区         1.000290e+07    100029033  1645.765749  36.500000    365
顺义           1.000040e+07     10000401          NaN  20.000000     20
顺义区          1.000310e+07    400123988  1380.235417  34.025000   1361
顺义区后沙峪地区     1.000202e+07     10002025          NaN  37.000000     37
顺义区大孙各庄镇     1.000069e+07     10000690          NaN  44.000000     44
马甸           1.000272e+07     10002721          NaN  20.000000     20

                       novip_buy_times                   novip_buy_moneys  \
                   std            mean    sum        std             mean
district
东三环                NaN       29.000000     29        NaN      2592.020000
东二环                NaN        9.000000      9        NaN      1328.130000
东四环           9.000000        3.000000      9   2.645751       353.706667
东城区           8.601306        8.017094    938   7.940493       812.337521
东城区东直门             NaN       18.000000     18        NaN      1501.200000
东直门外小街             NaN       12.000000     12        NaN      1418.400000
中关村                NaN        6.000000      6        NaN       868.380000
丰台区           8.149366        6.559322   1161   7.067703       709.485650
丰台区丰台科             NaN        0.000000      0        NaN         0.000000
丰台区科学城             NaN        9.000000      9        NaN       852.840000
丰台区西               NaN       24.000000     24        NaN      2231.760000
丰台市           0.707107        3.000000      6   4.242641       400.710000
丰田区                NaN       27.000000     27        NaN      1705.050000
义顺区                NaN       13.000000     13        NaN      1467.960000
亚运村                NaN        3.000000      3        NaN       365.130000
保定区                NaN        0.000000      0        NaN         0.000000
北京            2.828427       14.000000     28  16.970563      1275.760000
北京亦庄经济技术开发区        NaN        0.000000      0        NaN         0.000000
北京区          11.313708        7.500000     15   4.949747       896.610000
北京崇文区              NaN       14.000000     14        NaN      1307.180000
北京市           9.395271        7.561283  13202   7.992831       786.769845
北京市亦庄              NaN        9.000000      9        NaN       723.330000
北京市北京市             NaN        0.000000      0        NaN         0.000000
北京市展览馆             NaN        3.000000      3        NaN       444.750000
北京市昌平区             NaN        2.000000      2        NaN       246.220000
北京市朝阳区       16.680827        4.750000     19   4.573474       543.657500
北京市朝阳区工体路          NaN        7.000000      7        NaN       694.330000
北京市海淀区        1.732051        2.333333      7   4.041452       222.110000
北京经济技术开发区     8.734169        6.750000     54   5.873670       802.353750
南三环          10.111874        5.500000     22   6.350853       554.922500
...                ...             ...    ...        ...              ...
海淀区           9.132629        7.221963   3091   8.283319       728.813341
海淀区上地              NaN       12.000000     12        NaN      1575.240000
海淀区中关村东路           NaN       11.000000     11        NaN      1015.080000
海淀区西直门             NaN       16.000000     16        NaN      1372.320000
海锭区                NaN        9.000000      9        NaN       826.110000
王府井                NaN        3.000000      3        NaN       394.890000
石景区                NaN        2.000000      2        NaN       280.080000
石景山          11.219031        9.500000     57   9.751923       983.686667
石景山区          9.885815        8.703704    235  10.730312       855.736296
空港工业区              NaN        0.000000      0        NaN         0.000000
经济技术开发区       8.995369       11.500000     46   8.346656      1480.147500
西四环          14.525839        7.000000     21   6.244998       726.843333
西城区           9.070080        7.726804   1499   8.403219       787.275619
西城区新文化街            NaN       10.000000     10        NaN      1378.200000
西城区月坛              NaN       13.000000     13        NaN      1929.590000
西城区浦城路             NaN        6.000000      6        NaN       550.140000
西城区阜成门外大街          NaN       10.000000     10        NaN      1293.300000
西域区                NaN       27.000000     27        NaN      2195.910000
西域城区               NaN        6.000000      6        NaN       768.300000
西直门                NaN        6.000000      6        NaN       549.960000
近郊                 NaN        0.000000      0        NaN         0.000000
通州区          10.040303        7.050000    282   7.722594       716.470250
邢台市                NaN        0.000000      0        NaN         0.000000
酒仙桥                NaN        0.000000      0        NaN         0.000000
门头沟区         13.032012       11.600000    116  10.905656      1137.395000
顺义                 NaN       10.000000     10        NaN      1034.200000
顺义区           6.974266        5.725000    229   7.431698       579.506750
顺义区后沙峪地区           NaN       19.000000     19        NaN      2197.540000
顺义区大孙各庄镇           NaN       29.000000     29        NaN      2647.990000
马甸                 NaN        0.000000      0        NaN         0.000000

                                     vip_buy_times                    \
                    sum          std          mean    sum        std
district
东三环             2592.02          NaN      0.000000      0        NaN
东二环             1328.13          NaN     17.000000     17        NaN
东四环             1061.12   320.724034     18.333333     55  16.502525
东城区            95043.49   738.069440     14.145299   1655  15.638847
东城区东直门          1501.20          NaN      0.000000      0        NaN
东直门外小街          1418.40          NaN     36.000000     36        NaN
中关村              868.38          NaN     30.000000     30        NaN
丰台区           125578.96   718.886874     14.875706   2633  15.870797
丰台区丰台科             0.00          NaN      0.000000      0        NaN
丰台区科学城           852.84          NaN      0.000000      0        NaN
丰台区西            2231.76          NaN      0.000000      0        NaN
丰台市              801.42   566.689517     18.000000     36   7.071068
丰田区             1705.05          NaN      0.000000      0        NaN
义顺区             1467.96          NaN      0.000000      0        NaN
亚运村              365.13          NaN      0.000000      0        NaN
保定区                0.00          NaN     17.000000     17        NaN
北京              2551.52  1430.052754     16.500000     33  23.334524
北京亦庄经济技术开发区        0.00          NaN     20.000000     20        NaN
北京区             1793.22   556.761737     20.000000     40  28.284271
北京崇文区           1307.18          NaN      0.000000      0        NaN
北京市          1373700.15   780.836016     12.108247  21141  13.768586
北京市亦庄            723.33          NaN     18.000000     18        NaN
北京市北京市             0.00          NaN     20.000000     20        NaN
北京市展览馆           444.75          NaN     40.000000     40        NaN
北京市昌平区           246.22          NaN     36.000000     36        NaN
北京市朝阳区          2174.63   497.371273      3.500000     14   7.000000
北京市朝阳区工体路        694.33          NaN      0.000000      0        NaN
北京市海淀区           666.33   384.705805     24.000000     72  19.697716
北京经济技术开发区       6418.83   663.832154     17.750000    142  15.498848
南三环             2219.69   650.291342      1.750000      7   2.362908
...                 ...          ...           ...    ...        ...
海淀区           311932.11   762.646818     12.137850   5195  13.774265
海淀区上地           1575.24          NaN      0.000000      0        NaN
海淀区中关村东路        1015.08          NaN      0.000000      0        NaN
海淀区西直门          1372.32          NaN      0.000000      0        NaN
海锭区              826.11          NaN     33.000000     33        NaN
王府井              394.89          NaN     40.000000     40        NaN
石景区              280.08          NaN     24.000000     24        NaN
石景山             5902.12   925.828756      0.333333      2   0.816497
石景山区           23104.88  1012.188915     15.000000    405  17.935783
空港工业区              0.00          NaN      2.000000      2        NaN
经济技术开发区         5920.59  1179.634433      0.500000      2   1.000000
西四环             2180.53   551.869296     15.333333     46  13.316656
西城区           152731.47   799.399716     12.757732   2475  14.729269
西城区新文化街         1378.20          NaN     18.000000     18        NaN
西城区月坛           1929.59          NaN      0.000000      0        NaN
西城区浦城路           550.14          NaN      0.000000      0        NaN
西城区阜成门外大街       1293.30          NaN      0.000000      0        NaN
西域区             2195.91          NaN      0.000000      0        NaN
西域城区             768.30          NaN      0.000000      0        NaN
西直门              549.96          NaN      0.000000      0        NaN
近郊                 0.00          NaN     51.000000     51        NaN
通州区            28658.81   688.163910     15.050000    602  15.011022
邢台市                0.00          NaN     12.000000     12        NaN
酒仙桥                0.00          NaN     35.000000     35        NaN
门头沟区           11373.95   973.625450      4.100000     41  10.202941
顺义              1034.20          NaN     30.000000     30        NaN
顺义区            23180.27   711.935480     11.750000    470  13.736999
顺义区后沙峪地区        2197.54          NaN      0.000000      0        NaN
顺义区大孙各庄镇        2647.99          NaN      0.000000      0        NaN
马甸                 0.00          NaN     15.000000     15        NaN

            vip_buy_moneys
                      mean         sum          std
district
东三环               0.000000        0.00          NaN
东二环            1074.060000     1074.06          NaN
东四环            1220.240000     3660.72  1245.018796
东城区            1119.160000   130941.72  1301.675460
东城区东直门            0.000000        0.00          NaN
东直门外小街         2585.880000     2585.88          NaN
中关村            1673.400000     1673.40          NaN
丰台区            1106.768305   195897.99  1208.803073
丰台区丰台科            0.000000        0.00          NaN
丰台区科学城            0.000000        0.00          NaN
丰台区西              0.000000        0.00          NaN
丰台市            1520.290000     3040.58   713.979859
丰田区               0.000000        0.00          NaN
义顺区               0.000000        0.00          NaN
亚运村               0.000000        0.00          NaN
保定区             917.150000      917.15          NaN
北京             1365.705000     2731.41  1931.398533
北京亦庄经济技术开发区    1224.600000     1224.60          NaN
北京区            1904.600000     3809.20  2693.511151
北京崇文区             0.000000        0.00          NaN
北京市             902.145109  1575145.36  1056.209938
北京市亦庄          1357.380000     1357.38          NaN
北京市北京市         1768.200000     1768.20          NaN
北京市展览馆         2006.400000     2006.40          NaN
北京市昌平区         1815.840000     1815.84          NaN
北京市朝阳区          189.945000      759.78   379.890000
北京市朝阳区工体路         0.000000        0.00          NaN
北京市海淀区         1525.846667     4577.54  1176.435223
北京经济技术开发区      1235.493750     9883.95  1065.237838
南三环             108.677500      434.71   143.361452
...                    ...         ...          ...
海淀区             913.740070   391080.75  1071.007222
海淀区上地             0.000000        0.00          NaN
海淀区中关村东路          0.000000        0.00          NaN
海淀区西直门            0.000000        0.00          NaN
海锭区            2361.810000     2361.81          NaN
王府井            3590.000000     3590.00          NaN
石景区            2362.800000     2362.80          NaN
石景山              23.910000      143.46    58.567300
石景山区           1065.150370    28759.06  1363.884143
空港工业区           129.720000      129.72          NaN
经济技术开发区          40.590000      162.36    81.180000
西四环             812.306667     2436.92   712.316117
西城区             968.484742   187886.04  1152.382980
西城区新文化街        1583.280000     1583.28          NaN
西城区月坛             0.000000        0.00          NaN
西城区浦城路            0.000000        0.00          NaN
西城区阜成门外大街         0.000000        0.00          NaN
西域区               0.000000        0.00          NaN
西域城区              0.000000        0.00          NaN
西直门               0.000000        0.00          NaN
近郊             4929.660000     4929.66          NaN
通州区            1102.264250    44090.57  1163.559403
邢台市            1051.320000     1051.32          NaN
酒仙桥            3078.250000     3078.25          NaN
门头沟区            302.115000     3021.15   799.669691
顺义             1514.100000     1514.10          NaN
顺义区             986.699500    39467.98  1196.930383
顺义区后沙峪地区          0.000000        0.00          NaN
顺义区大孙各庄镇          0.000000        0.00          NaN
马甸              751.500000      751.50          NaN

[112 rows x 18 columns]

In [52]:
# 针对具体列聚合
groups.age.agg([np.mean,np.sum,np.std])

                  mean    sum        std
district
东三环          43.000000     43        NaN
东二环          20.000000     20        NaN
东四环          39.000000    117   9.000000
东城区          33.017094   3863   8.601306
东城区东直门       27.000000     27        NaN
东直门外小街       28.000000     28        NaN
中关村          33.000000     33        NaN
丰台区          31.949153   5655   8.149366
丰台区丰台科       48.000000     48        NaN
丰台区科学城       45.000000     45        NaN
丰台区西         29.000000     29        NaN
丰台市          26.500000     53   0.707107
丰田区          28.000000     28        NaN
义顺区          32.000000     32        NaN
亚运村          69.000000     69        NaN
保定区          23.000000     23        NaN
北京           24.000000     48   2.828427
北京亦庄经济技术开发区  20.000000     20        NaN
北京区          36.000000     72  11.313708
北京崇文区        34.000000     34        NaN
北京市          33.079038  57756   9.395271
北京市亦庄        21.000000     21        NaN
北京市北京市       18.000000     18        NaN
北京市展览馆       23.000000     23        NaN
北京市昌平区       21.000000     21        NaN
北京市朝阳区       37.750000    151  16.680827
北京市朝阳区工体路    70.000000     70        NaN
北京市海淀区       33.000000     99   1.732051
北京经济技术开发区    32.000000    256   8.734169
南三环          33.750000    135  10.111874
...                ...    ...        ...
海淀区          33.070093  14154   9.132629
海淀区上地        49.000000     49        NaN
海淀区中关村东路     50.000000     50        NaN
海淀区西直门       47.000000     47        NaN
海锭区          28.000000     28        NaN
王府井          33.000000     33        NaN
石景区          18.000000     18        NaN
石景山          31.666667    190  11.219031
石景山区         33.962963    917   9.885815
空港工业区        24.000000     24        NaN
经济技术开发区      33.250000    133   8.995369
西四环          35.000000    105  14.525839
西城区          32.716495   6347   9.070080
西城区新文化街      30.000000     30        NaN
西城区月坛        33.000000     33        NaN
西城区浦城路       26.000000     26        NaN
西城区阜成门外大街    20.000000     20        NaN
西域区          38.000000     38        NaN
西域城区         40.000000     40        NaN
西直门          29.000000     29        NaN
近郊           21.000000     21        NaN
通州区          32.750000   1310  10.040303
邢台市          22.000000     22        NaN
酒仙桥          19.000000     19        NaN
门头沟区         36.500000    365  13.032012
顺义           20.000000     20        NaN
顺义区          34.025000   1361   6.974266
顺义区后沙峪地区     37.000000     37        NaN
顺义区大孙各庄镇     44.000000     44        NaN
马甸           20.000000     20        NaN

[112 rows x 3 columns]

In [53]:
# 不同列不同聚合函数
groups.agg({"age":np.mean,"novip_buy_times":np.sum})

                   age  novip_buy_times
district
东三环          43.000000               29
东二环          20.000000                9
东四环          39.000000                9
东城区          33.017094              938
东城区东直门       27.000000               18
东直门外小街       28.000000               12
中关村          33.000000                6
丰台区          31.949153             1161
丰台区丰台科       48.000000                0
丰台区科学城       45.000000                9
丰台区西         29.000000               24
丰台市          26.500000                6
丰田区          28.000000               27
义顺区          32.000000               13
亚运村          69.000000                3
保定区          23.000000                0
北京           24.000000               28
北京亦庄经济技术开发区  20.000000                0
北京区          36.000000               15
北京崇文区        34.000000               14
北京市          33.079038            13202
北京市亦庄        21.000000                9
北京市北京市       18.000000                0
北京市展览馆       23.000000                3
北京市昌平区       21.000000                2
北京市朝阳区       37.750000               19
北京市朝阳区工体路    70.000000                7
北京市海淀区       33.000000                7
北京经济技术开发区    32.000000               54
南三环          33.750000               22
...                ...              ...
海淀区          33.070093             3091
海淀区上地        49.000000               12
海淀区中关村东路     50.000000               11
海淀区西直门       47.000000               16
海锭区          28.000000                9
王府井          33.000000                3
石景区          18.000000                2
石景山          31.666667               57
石景山区         33.962963              235
空港工业区        24.000000                0
经济技术开发区      33.250000               46
西四环          35.000000               21
西城区          32.716495             1499
西城区新文化街      30.000000               10
西城区月坛        33.000000               13
西城区浦城路       26.000000                6
西城区阜成门外大街    20.000000               10
西域区          38.000000               27
西域城区         40.000000                6
西直门          29.000000                6
近郊           21.000000                0
通州区          32.750000              282
邢台市          22.000000                0
酒仙桥          19.000000                0
门头沟区         36.500000              116
顺义           20.000000               10
顺义区          34.025000              229
顺义区后沙峪地区     37.000000               19
顺义区大孙各庄镇     44.000000               29
马甸           20.000000                0

[112 rows x 2 columns]

## 3.转换过滤

In [91]:
filepath = '销售客户信息.xlsx'

df = pd.read_excel(filepath,names=['user_id','login_date','sex','age','vip_date','vip_type','city','district','last_login','last_buy','novip_buy_times','novip_buy_moneys','vip_buy_times','vip_buy_moneys'])

In [92]:
df.head()

,user_id,login_date,sex,age,vip_date,vip_type,city,district,last_login,last_buy,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77

In [93]:
df.columns

Index(['user_id', 'login_date', 'sex', 'age', 'vip_date', 'vip_type', 'city',
       'district', 'last_login', 'last_buy', 'novip_buy_times',
       'novip_buy_moneys', 'vip_buy_times', 'vip_buy_moneys'],
      dtype='object')

In [94]:
df.fillna(0)

,user_id,login_date,sex,age,vip_date,vip_type,city,district,last_login,last_buy,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17
1,10000002,2018-01-01,男,56,1970-01-01,0,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44
7,10000008,2018-01-01,女,45,1970-01-01,0,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16
12,10000013,2018-01-02,女,21,1970-01-01,0,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96
14,10000015,2018-01-02,女,45,1970-01-01,0,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00
15,10000016,2018-01-02,女,62,1970-01-01,0,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00
16,10000017,2018-01-02,女,45,1970-01-01,0,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72
18,10000019,2018-01-03,男,37,1970-01-01,0,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00
19,10000020,2018-01-03,女,38,1970-01-01,0,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00
20,10000021,2018-01-03,女,18,2018-07-01,VIP,北京市,北京市,2019-05-28 10:04:48,2019-05-26 10:04:48,12,1328.76,20,1846.40
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96
22,10000023,2018-01-03,女,47,1970-01-01,0,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47
24,10000025,2018-01-03,男,35,1970-01-01,0,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20
27,10000028,2018-01-04,男,42,1970-01-01,0,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00
28,10000029,2018-01-04,男,37,1970-01-01,0,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,10004971,2019-06-25,女,18,2019-06-27,VIP,北京市,北京市,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,98.00
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00
4974,10004975,2019-06-25,男,58,1970-01-01,0,北京市,朝阳区,2019-06-28 09:36:00,1970-01-01 00:00:00,0,0.00,0,0.00
4975,10004976,2019-06-25,男,50,1970-01-01,0,北京市,朝阳区,2019-06-28 10:48:00,1970-01-01 00:00:00,0,0.00,0,0.00
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00
4978,10004979,2019-06-26,男,30,1970-01-01,0,北京市,北京市,2019-06-27 05:45:36,1970-01-01 00:00:00,0,0.00,0,0.00
4979,10004980,2019-06-27,女,37,1970-01-01,0,北京市,东城区,2019-06-29 16:04:48,1970-01-01 00:00:00,0,0.00,0,0.00
4980,10004981,2019-06-27,女,36,1970-01-01,0,北京市,北京市,2019-06-29 08:09:36,1970-01-01 00:00:00,0,0.00,0,0.00
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00
4984,10004985,2019-06-27,女,47,1970-01-01,0,北京市,朝阳区,2019-06-28 21:21:36,1970-01-01 00:00:00,0,0.00,0,0.00
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00
4986,10004987,2019-06-28,男,31,1970-01-01,0,北京市,北京市,2019-06-28 19:40:48,1970-01-01 00:00:00,0,0.00,0,0.00
4987,10004988,2019-06-28,女,48,1970-01-01,0,北京市,丰台区丰台科,2019-06-29 09:07:12,1970-01-01 00:00:00,0,0.00,0,0.00
4988,10004989,2019-06-29,女,43,1970-01-01,0,北京市,丰台区,2019-06-29 12:57:36,1970-01-01 00:00:00,0,0.00,0,0.00
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00
4994,10004995,2019-06-30,女,37,1970-01-01,0,北京市,朝阳区,2019-06-30 00:00:00,1970-01-01 00:00:00,0,0.00,0,0.00
4995,10004996,2019-06-30,女,48,1970-01-01,0,北京市,西城区,2019-06-30 00:00:00,1970-01-01 00:00:00,0,0.00,0,0.00
4996,10004997,2019-06-30,女,26,1970-01-01,0,北京市,北京市,2019-06-30 00:00:00,1970-01-01 00:00:00,0,0.00,0,0.00
4997,10004998,2019-06-30,男,18,2019-07-03,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,98.00
4998,10004999,2019-06-30,男,30,1970-01-01,0,北京市,北京市,2019-06-30 00:00:00,1970-01-01 00:00:00,0,0.00,0,0.00
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00

In [95]:
# 对数据进行操作，一般数据量不变
s_score = lambda s : (s-s.mean())/s.std()

groups = df.groupby("district")
groups[['age','novip_buy_times','novip_buy_moneys']].transform(s_score)

           age  novip_buy_times  novip_buy_moneys
0     1.055953         0.555337          0.616660
1     2.439628         3.558028          3.016395
2     1.801008         0.555337          0.746367
3    -1.098141         0.769794          0.842239
4    -0.013843         0.465831          0.222674
5    -0.669076         0.465831          1.088612
6    -1.397124         0.501594          0.542798
7     1.296624         0.345422          0.577960
8    -0.114849         0.555337          0.266573
9    -1.330439         0.594472          1.047446
10   -0.772449         0.353663          0.167657
11   -0.117173         0.576826          1.239508
12   -1.285651         1.180898          1.109029
13   -0.555163         0.576826          0.694616
14    1.306295         0.697551          0.956913
15    2.913259         2.971799          1.868348
16    1.296624         1.308696          1.623694
17   -0.327722         0.555337          1.022532
18    0.422979         1.669924          1.483765
19    0.532185         1.669924          0.692102
20   -1.604960         0.555337          0.694115
21    0.949516         0.555337          0.914341
22    1.515035         0.465831          1.067552
23   -0.341460         0.465831          0.744266
24    0.123617         0.866025          1.062166
25   -0.327722         0.555337          1.151164
26   -0.647032         0.555337          1.050349
27    0.949516         0.930674          1.109555
28    0.417334         0.430225          0.657257
29   -0.007675         0.576826          0.699179
...        ...              ...               ...
4970 -1.604960        -0.946008         -1.007599
4971  1.481699        -0.946008         -1.007599
4972  0.758807        -0.871868         -0.955637
4973 -0.996693        -0.979080         -1.067087
4974  2.716296        -0.979080         -1.067087
4975  1.842651        -0.979080         -1.067087
4976       NaN              NaN               NaN
4977 -0.774748        -0.955614         -1.023918
4978 -0.327722        -0.946008         -1.007599
4979  0.463058        -1.009647         -1.100625
4980  0.310897        -0.946008         -1.007599
4981  0.095363        -0.979080         -1.067087
4982 -1.179214        -0.946008         -1.007599
4983 -1.102650        -0.871868         -0.955637
4984  1.515035        -0.979080         -1.067087
4985 -1.392087        -0.946008         -1.007599
4986 -0.221286        -0.946008         -1.007599
4987       NaN              NaN               NaN
4988  1.356038        -0.928070         -0.986923
4989 -0.540595        -0.946008         -1.007599
4990 -0.966341        -0.946008         -1.007599
4991 -0.434159        -0.946008         -1.007599
4992 -1.542721        -0.979080         -1.067087
4993  1.162389        -0.946008         -1.007599
4994  0.422979        -0.979080         -1.067087
4995  1.685046        -0.919505         -0.984833
4996 -0.753468        -0.946008         -1.007599
4997 -1.651926        -0.979080         -1.067087
4998 -0.327722        -0.946008         -1.007599
4999 -0.778282        -0.979080         -1.067087

[5000 rows x 3 columns]

In [96]:
groups['vip_buy_times'].transform('sum')

0       21141
1       21141
2       21141
3        2633
4       22652
5       22652
6        1655
7       22652
8       21141
9         275
10        597
11       5195
12      21141
13       5195
14       5195
15        602
16      22652
17      21141
18      22652
19      22652
20      21141
21      21141
22      22652
23      22652
24          7
25      21141
26      21141
27      21141
28      21141
29       5195
        ...
4970    21141
4971    21141
4972     5195
4973    22652
4974    22652
4975    22652
4976        1
4977      993
4978    21141
4979     1655
4980    21141
4981    22652
4982    21141
4983     5195
4984    22652
4985    21141
4986    21141
4987        0
4988     2633
4989    21141
4990    21141
4991    21141
4992    22652
4993    21141
4994    22652
4995     2475
4996    21141
4997    22652
4998    21141
4999    22652
Name: vip_buy_times, Length: 5000, dtype: int64

In [97]:
df['vip_buy_times_percent'] = df['vip_buy_times']/groups['vip_buy_times'].transform('sum')

In [98]:
df

,user_id,login_date,sex,age,vip_date,vip_type,city,district,last_login,last_buy,novip_buy_times,novip_buy_moneys,vip_buy_times,vip_buy_moneys,vip_buy_times_percent
0,10000001,2018-01-01,女,43,2018-07-05,VIP,北京市,北京市,2019-06-19 02:24:00,2019-06-16 02:24:00,12,1268.28,23,1835.17,0.001088
1,10000002,2018-01-01,男,56,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,2019-06-29 00:00:00,36,3142.08,0,0.00,0.000000
2,10000003,2018-01-01,男,50,2018-07-06,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-27 00:00:00,12,1369.56,19,1526.65,0.000899
3,10000004,2018-01-01,女,23,2018-07-06,VIP,北京市,丰台区,2019-06-08 04:48:00,2019-06-08 04:48:00,12,1314.96,45,2484.00,0.017091
4,10000005,2018-01-01,女,33,2018-07-01,VIP,北京市,朝阳区,2019-05-11 22:48:00,2019-05-07 22:48:00,12,1006.80,23,2046.77,0.001015
5,10000006,2018-01-01,女,27,2018-07-01,VIP,北京市,朝阳区,2019-05-06 12:00:00,2019-05-05 12:00:00,12,1682.76,26,2307.50,0.001148
6,10000007,2018-01-01,男,21,2018-07-06,VIP,北京市,东城区,2019-06-19 02:24:00,2019-06-19 02:24:00,12,1212.96,24,1435.44,0.014502
7,10000008,2018-01-01,女,45,NaT,NaN,北京市,朝阳区,2018-06-24 09:36:00,2018-06-20 09:36:00,11,1284.14,0,0.00,0.000000
8,10000009,2018-01-01,男,32,2018-07-03,VIP,北京市,北京市,2019-05-17 09:36:00,2019-05-13 09:36:00,12,994.92,19,1148.17,0.000899
9,10000010,2018-01-01,女,22,2018-07-04,VIP,北京市,怀柔区,2019-06-30 00:00:00,2019-06-25 00:00:00,12,1664.16,36,3430.80,0.130909
10,10000011,2018-01-01,男,28,2018-07-03,VIP,北京市,宣武区,2019-06-24 13:12:00,2019-06-22 13:12:00,12,1081.20,23,1168.17,0.038526
11,10000012,2018-01-01,男,32,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:12:00,2019-06-19 13:12:00,12,1674.12,36,1874.16,0.006930
12,10000013,2018-01-02,女,21,NaT,NaN,北京市,北京市,2018-09-20 02:52:48,2018-09-17 02:52:48,17,1652.74,0,0.00,0.000000
13,10000014,2018-01-02,女,28,2018-07-01,VIP,北京市,海淀区,2019-05-06 14:24:00,2019-05-05 14:24:00,12,1258.56,24,2316.96,0.004620
14,10000015,2018-01-02,女,45,NaT,NaN,北京市,海淀区,2018-07-11 09:36:00,2018-07-11 09:36:00,13,1458.60,0,0.00,0.000000
15,10000016,2018-01-02,女,62,NaT,NaN,北京市,通州区,2019-04-09 09:36:00,2019-04-04 09:36:00,30,2002.20,0,0.00,0.000000
16,10000017,2018-01-02,女,45,NaT,NaN,北京市,朝阳区,2018-10-11 21:07:12,2018-10-07 21:07:12,19,2100.45,0,0.00,0.000000
17,10000018,2018-01-03,女,30,2018-07-01,VIP,北京市,北京市,2019-05-12 03:07:12,2019-05-11 03:07:12,12,1585.20,28,1980.72,0.001324
18,10000019,2018-01-03,男,37,NaT,NaN,北京市,朝阳区,2018-11-24 19:12:00,2018-11-21 19:12:00,22,1991.22,0,0.00,0.000000
19,10000020,2018-01-03,女,38,NaT,NaN,北京市,朝阳区,2018-11-30 05:31:12,2018-11-25 05:31:12,22,1373.24,0,0.00,0.000000
20,10000021,2018-01-03,女,18,2018-07-01,VIP,北京市,北京市,2019-05-28 10:04:48,2019-05-26 10:04:48,12,1328.76,20,1846.40,0.000946
21,10000022,2018-01-03,女,42,2018-07-02,VIP,北京市,北京市,2019-05-17 13:26:24,2019-05-13 13:26:24,12,1500.72,19,1839.96,0.000899
22,10000023,2018-01-03,女,47,NaT,NaN,北京市,朝阳区,2018-07-01 04:33:36,2018-06-28 04:33:36,12,1666.32,0,0.00,0.000000
23,10000024,2018-01-03,女,30,2018-07-01,VIP,北京市,朝阳区,2019-06-02 20:24:00,2019-05-28 20:24:00,12,1413.96,17,1120.47,0.000750
24,10000025,2018-01-03,男,35,NaT,NaN,北京市,南三环,2018-06-25 18:14:24,2018-06-23 18:14:24,11,1245.64,0,0.00,0.000000
25,10000026,2018-01-03,男,30,2018-07-06,VIP,北京市,北京市,2019-06-02 20:24:00,2019-05-30 20:24:00,12,1685.64,20,1576.20,0.000946
26,10000027,2018-01-03,女,27,2018-07-04,VIP,北京市,北京市,2019-06-24 13:40:48,2019-06-19 13:40:48,12,1606.92,30,2053.20,0.001419
27,10000028,2018-01-04,男,42,NaT,NaN,北京市,北京市,2018-08-25 01:26:24,2018-08-23 01:26:24,15,1653.15,0,0.00,0.000000
28,10000029,2018-01-04,男,37,NaT,NaN,北京市,北京市,2018-06-21 00:28:48,2018-06-20 00:28:48,11,1299.98,0,0.00,0.000000
29,10000030,2018-01-04,女,33,2018-07-01,VIP,北京市,海淀区,2019-06-24 13:55:12,2019-06-22 13:55:12,12,1262.04,33,1763.85,0.006352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,10004971,2019-06-25,女,18,2019-06-27,VIP,北京市,北京市,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,98.00,0.000047
4971,10004972,2019-06-25,男,47,2019-06-28,VIP,北京市,北京市,2019-06-29 13:12:00,2019-06-29 13:12:00,0,0.00,1,64.00,0.000047
4972,10004973,2019-06-25,男,40,2019-06-28,VIP,北京市,海淀区,2019-06-29 20:24:00,2019-06-29 20:24:00,0,0.00,1,52.00,0.000192
4973,10004974,2019-06-25,女,24,2019-06-25,VIP,北京市,朝阳区,2019-06-29 12:00:00,2019-06-29 12:00:00,0,0.00,1,96.00,0.000044
4974,10004975,2019-06-25,男,58,NaT,NaN,北京市,朝阳区,2019-06-28 09:36:00,NaT,0,0.00,0,0.00,0.000000
4975,10004976,2019-06-25,男,50,NaT,NaN,北京市,朝阳区,2019-06-28 10:48:00,NaT,0,0.00,0,0.00,0.000000
4976,10004977,2019-06-26,男,29,2019-06-28,VIP,北京市,定海区,2019-06-29 19:12:00,2019-06-29 19:12:00,0,0.00,1,84.00,1.000000
4977,10004978,2019-06-26,男,26,2019-06-29,VIP,北京市,昌平区,2019-06-29 15:21:36,2019-06-29 15:21:36,0,0.00,1,67.00,0.001007
4978,10004979,2019-06-26,男,30,NaT,NaN,北京市,北京市,2019-06-27 05:45:36,NaT,0,0.00,0,0.00,0.000000
4979,10004980,2019-06-27,女,37,NaT,NaN,北京市,东城区,2019-06-29 16:04:48,NaT,0,0.00,0,0.00,0.000000
4980,10004981,2019-06-27,女,36,NaT,NaN,北京市,北京市,2019-06-29 08:09:36,NaT,0,0.00,0,0.00,0.000000
4981,10004982,2019-06-27,女,34,2019-06-29,VIP,北京市,朝阳区,2019-06-29 18:57:36,2019-06-29 18:57:36,0,0.00,1,73.00,0.000044
4982,10004983,2019-06-27,女,22,2019-06-27,VIP,北京市,北京市,2019-06-29 17:31:12,2019-06-29 17:31:12,0,0.00,1,93.00,0.000047
4983,10004984,2019-06-27,女,23,2019-06-29,VIP,北京市,海淀区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,63.00,0.000192
4984,10004985,2019-06-27,女,47,NaT,NaN,北京市,朝阳区,2019-06-28 21:21:36,NaT,0,0.00,0,0.00,0.000000
4985,10004986,2019-06-28,男,20,2019-06-30,VIP,北京市,北京市,2019-06-29 21:36:00,2019-06-29 21:36:00,0,0.00,1,94.00,0.000047
4986,10004987,2019-06-28,男,31,NaT,NaN,北京市,北京市,2019-06-28 19:40:48,NaT,0,0.00,0,0.00,0.000000
4987,10004988,2019-06-28,女,48,NaT,NaN,北京市,丰台区丰台科,2019-06-29 09:07:12,NaT,0,0.00,0,0.00,NaN
4988,10004989,2019-06-29,女,43,NaT,NaN,北京市,丰台区,2019-06-29 12:57:36,NaT,0,0.00,0,0.00,0.000000
4989,10004990,2019-06-29,女,28,2019-07-02,VIP,北京市,北京市,2019-06-29 23:16:48,2019-06-29 23:16:48,0,0.00,1,67.00,0.000047
4990,10004991,2019-06-29,女,24,2019-07-01,VIP,北京市,北京市,2019-06-29 21:50:24,2019-06-29 21:50:24,0,0.00,1,53.00,0.000047
4991,10004992,2019-06-29,女,29,2019-06-30,VIP,北京市,北京市,2019-06-29 22:48:00,2019-06-29 22:48:00,0,0.00,1,67.00,0.000047
4992,10004993,2019-06-29,女,19,2019-07-02,VIP,北京市,朝阳区,2019-06-29 22:33:36,2019-06-29 22:33:36,0,0.00,1,82.00,0.000044
4993,10004994,2019-06-30,男,44,2019-07-01,VIP,北京市,北京市,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,81.00,0.000047
4994,10004995,2019-06-30,女,37,NaT,NaN,北京市,朝阳区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00,0.000000
4995,10004996,2019-06-30,女,48,NaT,NaN,北京市,西城区,2019-06-30 00:00:00,NaT,0,0.00,0,0.00,0.000000
4996,10004997,2019-06-30,女,26,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00,0.000000
4997,10004998,2019-06-30,男,18,2019-07-03,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,98.00,0.000044
4998,10004999,2019-06-30,男,30,NaT,NaN,北京市,北京市,2019-06-30 00:00:00,NaT,0,0.00,0,0.00,0.000000
4999,10005000,2019-06-30,男,26,2019-06-30,VIP,北京市,朝阳区,2019-06-30 00:00:00,2019-06-30 00:00:00,0,0.00,1,52.00,0.000044

In [99]:
# 分组过滤
df2 = groups.filter(lambda g : g['vip_buy_moneys'].mean() >= 2000)

In [100]:
df2.district.value_counts()

四通桥         1
望京          1
北京市展览馆      1
德胜门         1
宣武区白广路      1
平谷镇府前西街     1
石景区         1
酒仙桥         1
朝阳区，        1
海锭区         1
东直门外小街      1
朝阳区朝外大街     1
朝阳区 酒仙桥路    1
王府井         1
近郊          1
Name: district, dtype: int64

In [101]:
df2.district.value_counts()

四通桥         1
望京          1
北京市展览馆      1
德胜门         1
宣武区白广路      1
平谷镇府前西街     1
石景区         1
酒仙桥         1
朝阳区，        1
海锭区         1
东直门外小街      1
朝阳区朝外大街     1
朝阳区 酒仙桥路    1
王府井         1
近郊          1
Name: district, dtype: int64

## 4.pandas 连接mysql

In [109]:
import pandas as pd
import sqlalchemy

sql='select * from stu'
engine = sqlalchemy.create_engine('mysql+pymysql://root:mysql@localhost:3306/data')
df = pd.read_sql(sql,engine)

D:\Program Files\Anaconda35\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
D:\Program Files\Anaconda35\lib\site-packages\pymysql\cursors.py:170: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [110]:
df

       name  age
0  zhangsan   18
1    wagnwu   19
2   zhaoliu   17

In [106]:
df1 = pd.DataFrame({'name':['zhangsan','wagnwu','zhaoliu'],
                  'age':[18,19,17]})

In [107]:
df1

   age      name
0   18  zhangsan
1   19    wagnwu
2   17   zhaoliu

In [108]:
# 写入数据到 mysql
# 还有参数if_exists,表示有则插入
df1.to_sql('stu',engine,index=False,if_exists='append')